body {
    background-color: #EAF2F8 ;
     font-family: 'Open-Sans',sans-serif;
}

ul {
   font-size: 20px;
}
 /*ul {
    color: rgb(118, 118, 118);


}

*/
/*.nav {
    padding: 33px;
    margin-top: -50px;
}
*/
.icono {
    background-color: blueviolet;
    color: white;    
}

.nav{
    background-color:#DCDCDC;
}

/* .li:hover {
    background-color: blueviolet;
} */

.navegacion{
    height: 50px;
}

li .nav-item {
    color: rgb(118, 118, 118);
}

li .nav-item {
    color: blueviolet;
}
/*
.navegacion{
    border: 1px solid grey;
}

*/

.boton-menu{
    background-color: blueviolet;
    color:white;
    border-radius: 0%;
    /*padding-top: 0;
    padding: 23px;
    margin-top: -20px;
    */
    
}
.pcontainer{
    background-image: url(../images/woman.jpg);
     background-position: center center;
 background-size: cover;
   max-width:100;
   height: auto;
    background-size: cover;
        padding: 100px;
 }

.boton {
font-family: 'Open Sans', sans-serif;
color: white;
background-color: blueviolet;
}

.boton:hover {
   color: rgb(202, 142, 226);
}

.contenedor_uno {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

 .titulo_uno{
    font-family: 'Open Sans', sans-serif;
     color:white;
     font-size: 30px;
     margin:50px 0;
 }

 /* .pcontainer2{
    background-image: url(../images/celular.jpg);
    height: 600px;
    width: 100% ;
    background-size: cover;
        padding: 100px;
 } */

.celular {
    max-width: 100%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 100%;
    margin-top: 20%;  

}

 .texto_uno{
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-align: justify;
    font-size: 20px;
    padding-top: 10px;
 }

 .container_tres {
     font-family: 'Open Sans', sans-serif;
     background-color: #F0FCFB  ;
     height: 600px;
     width: 100% ;
     background-size: cover;
        padding: 100px;
 }

 .titulo_dos{
     
    color: rgb(138, 5, 190);
    font-size: 38px;
    padding-left:30%;
    margin: 0px 0;
 }

 .imagen2 > col {
     margin: 10px 0;
    /* position: relative;*/
 }

.parrafo_dos{
     padding-top: 0;
     padding-left: 30%;
     color: rgb(118, 118, 118);
     margin: 0;
     margin-top: 0;
 }

 .enlace_uno {
     color: rgb(138, 5, 190);
     font-size: 25px;
     padding-top: 0;
     padding-left: 30%; 
       
 }


 .imagen_uno{   
     max-width: 100%;
    height: auto;
    margin-left: 0;
 }

 
 .enlace_uno:hover {
    color: rgb(138, 5, 190);
}





.container_cuatro {
    background-color: #EAF2F8 ;
    height: 700px;    
}

.titulo_tres {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color:  rgb(138, 5, 190);
    margin: 40px 50px;
    padding-left: 30%;
    margin-top:200px;
}

.parrafo_tres {
    font-family: 'Open Sans', sans-serif;
    color: rgb(118, 118, 118);
    font-size: 25px;
    margin: 0 50px;
    padding-left: 30%;

}

.enlace {
     color: rgb(138, 5, 190);
     font-size: 10px;
     margin: 0 50px;
     padding-left: 33%;   
}

.enlace:hover {
    color: rgb(138, 5, 190);
}


/*Imagen mano*/

.contenedor_tarjeta {
 background-image: url('../images/celular_dos.jpg');
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat; /* para que la imagen de fondo no se repita*/
 position:relative;
 margin-left:80px;
 height: 500px;
 width: 380px;
 margin-top:50px;
}

/* .tarjeta{
    max-width: 100%;
    height: auto;
    padding: 30px 0;
    


} */

/*Contenedor color morado*/

.container_cinco {
background-color:  rgb(83, 0, 130);
height: 700px;

}

/*Titulo del contenedor*/
.titulo_cuatro{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-left: 33%;
    padding-top: 150px;

   
   
    
}

.parrafo_cuatro {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color:rgb(202, 142, 226);
    padding-left: 33%;
    padding-top: 0;
}

.enlace_dos{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 33%;
     color:rgb(255, 255, 255);
    
    
}


.enlace_dos:hover{
   color: rgb(202, 142, 226);
}
/**********/
.contenedor_cuatro {
    max-width: 100%;
    height: auto;
    margin-left: 120px;
    margin-top:200px;
   
}

/* .imagen_cuatro {
    max-width: 100%;
    height: auto;
    padding-top: 15%;
    padding-left: 30%;

} */

.imagen_cinco {
 background-image: url('../images/About3.jpg');
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat; /* para que la imagen de fondo no se repita*/
 position:relative;
 height: 500px;

}

.imagen_cinco:before {
    content:'';
    position:absolute;
    background-color: #000;
    opacity:0.6;
    top:0;
    bottom:0;
    left:0;
    right: 0;
}

.parrafo_cinco {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-left: 16%;
}

.enlace_tres {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:rgb(255, 255, 255);
    padding-left: 16%;
    position:relative;
    padding-top: 0;
}
.enlace_tres:hover {
   color:rgb(118, 118, 118);
}

.imagen_seis {
    background-image: url('../images/about.jpg');
     background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; /* para que la imagen de fondo no se repita*/
    position:relative;
    height: 500px;
}

.imagen_seis:before {
    content:'';
    position:absolute;
    background-color: #000;
    opacity:0.6;
    top:0;
    bottom:0;
    left:0;
    right: 0;

    /* position:absolute; z-index:1; width:100%; height:100% */
}

.parrafo_seis {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding-top: 150px;
    padding-left: 16%;
    margin: 20px 0;
}

.enlace_cuatro {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:rgb(255, 255, 255);
    padding-left: 16%;
    position:relative;
}
.enlace_cuatro:hover {
   color:rgb(118, 118, 118);
}

.container_seis {
    background-color:  rgb(83, 0, 130);
    height: 500px;
    /* margin: 30px 0; */
}

.parrafo_siete {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding-top: 130px;
    padding-left: 34%;
    margin: 20px 0;
}

.enlace_cinco{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:rgb(255, 255, 255);
    padding-left: 34%;
    position:relative;
}

.enlace_cinco:hover {
     color: rgb(255, 255, 255);
}

.contenedor_siete {    
   background-image: url('../images/celular_tres.jpg');
     background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; /* para que la imagen de fondo no se repita*/
    position:relative;
    margin-left: 120px;
    margin-top: 100px;
    height: 400px;
    width: 380px;
}

/* .imagen_siete {
  height: 500px;
    width: 380px;
    margin-left: 9%;
    margin-bottom: 100%;
    margin-top: 19%;
        
} */

.footer {
    height:700px;
    background-color: black;
    margin:0 0;
    
}
@media (max-width: 500px) {
  .footer {
      height:1700px;
    }  
  }


.logo_footer{
    color: white;
}

.footer ul{
       list-style:none;
       }
.titulo-footer {
        color:rgb(83, 0, 130);;
}

footer-line {
    color:grey;
}